<section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>


{{ form_start(form) }}
<div class="row">

<div class="col-6">{{ form_row(form.repas) }}</div>
<div class="col-6">{{ form_row(form.proteine) }}</div>
</div>

<div class="row">

<div class="col-6">{{ form_row(form.prix_vente) }}</div>
<div class="col-6">{{ form_row(form.date) }}</div>
</div>

<div class="row">

<div class="col-12">{{ form_row(form.qte_vendue) }}</div>

</div>
{{ form_end(form) }}
