{% extends 'base.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block body %}
    <h1>Magasin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ magasin.id }}</td>
            </tr>
            <tr>
                <th>Quantite_stock</th>
                <td>{{ magasin.quantiteStock }}</td>
            </tr>
            <tr>
                <th>Quantite_sortir_resto</th>
                <td>{{ magasin.quantiteSortirResto }}</td>
            </tr>
            <tr>
                <th>Quantite_ajout_magasin</th>
                <td>{{ magasin.quantiteAjoutMagasin }}</td>
            </tr>
            <tr>
                <th>Prix_achat</th>
                <td>{{ magasin.prixAchat }}</td>
            </tr>
            <tr>
                <th>Stock_final</th>
                <td>{{ magasin.stockFinal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_magasin_index') }}">back to list</a>

    <a href="{{ path('app_magasin_edit', {'id': magasin.id}) }}">edit</a>

    {{ include('magasin/_delete_form.html.twig') }}
{% endblock %}
