{% extends 'base.html.twig' %}

{% block title %}DepenseVivre{% endblock %}

{% block body %}
    <h1>DepenseVivre</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Designation</th>
                <td>{{ depense_vivre.designation }}</td>
            </tr>
            <tr>
                <th>Cout</th>
                <td>{{ depense_vivre.cout}}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_depense_vivre_index') }}">back to list</a>

    <a href="{{ path('app_depense_vivre_edit', {'id': depense_vivre.id}) }}">edit</a>

    {{ include('depense_vivre/_delete_form.html.twig') }}
{% endblock %}
