{% extends 'template.html.twig' %}
{% block title %}Vivre index{% endblock %}

{% block body %}

{% for flash_error in app.flashes('error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}


{% if vivre |length > 0 %}
<h3 class="pagetitle">Listes des Vivres à réapprovisionner</h3>
<h4 class="alert alert-danger">
  {% for vivres in vivre %}
  {{ vivres.nom}}
  {% endfor %}
  </h4>
  {% endif %}
 
  
    <div class="container-fluid" >
    <div class="card shadow mb-4">
    <div class="card-header py-3">
    <div class="card-body table-responsive">
    <div class="container" >
    <div class="row">
    <table class="table table-bordered table-striped table-highlight">
<a href="{{path('app_vivre_new')}}" class="btn btn-success mb-3">Nouveau vivre<i class="bi bi-plus"></i></a>
        <thead>
            <tr>
                
                <th>Designation</th>
                <th>Qte en stock</th>
                <th>Ajouter</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vivre in vivres %}
            <tr>
                
                <td>{{ vivre.proteine.nom }}</td>
                <td>{{ vivre.qteStock }}</td>
                
                    <td>
                        <form action="{{ path('add_quantite_vivre', {id : vivre.id})}}" method="POST">
                         <div>
                           <input type="text" name="ajout" id="ajout" class="form-control" placeholder="Ajout quantité" pattern="[0-9]+" title="Saisissez uniquement des chiffres ">  
                               </div>
                           <button type="submit" class="btn btn-sm btn-outline-primary">Ajouter</button>
                       </form>
                       </td>
    
             {% if is_granted('ROLE_ADMIN')%}
                <td>
                    <a href="{{ path('app_vivre_show', {'id': vivre.id}) }}">show</a>
                    <a href="{{ path('app_vivre_edit', {'id': vivre.id}) }}">edit</a>
                </td>
            {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
