{% extends 'template.html.twig' %}

{% block title %}Hello RechercheController!{% endblock %}

{% block body %}

<section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>


{{ form_start(form) }}
<div class="row">

<div class="col-2">{{ form_row(form.date) }}</div>

</div>

{{ form_end(form) }}



<div class="col-10">


<form class="form-horizontal">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-highlight">
        
                          <thead>
                              <tr>
                                  <th>Boisson</th>
                                  <th>Quantité Vendue</th>
                                  <th>Prix de vente</th>
                                  <th>Total par boisson</th>
                              </tr>
                          </thead>
                          
                              
                         
                          <tbody>
                              {% if donnees |length == 0 %}
                          <h4>Aucun resultats pour la recherche</h4>
                              {% else %}
                              <h4 class="text text-primary">Résultats de la recherche</h4>
                              {% for donnee in donnees %}
                                  <tr>
                                      
                                      <td>{{donnee.designation }}</td>
                                      <td>{{donnee.quantite}}</td>
                                      <td>{{donnee.prix_vente}}</td>
                                      <td>{{donnee.total}}</td>
                                        
                                      
                                  </tr>
                                  
                                  {% endfor %}
                                  
                                  
                              {% endif %}
                          </tbody>
                      
                      </table>
                 
              </div>
          </form>
          
        <h1 class="text text-right">Total:  </h1>
         
</div>

{% endblock %}
