{% extends 'template.html.twig' %}

{% block title %}Hello Dashboard{% endblock %}

{% block pagetitle %}Dashboard{% endblock %}
{% block body %}

{{ include('component/search.html.twig') }}


<section class="section dashboard ">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row" style="margin-top:25px;">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-3 " >
              <div class="card info-card sales-card " >

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="{{path('depense_date_boisson')}}">A une date donnée</a></li>
                    <li><a class="dropdown-item" href="{{path('depense_mois_boisson')}}">Ce mois</a></li>
                    
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Dépense Boisson <span>| Aujourd'hui</span></h5>

                  <div class="d-flex align-items-center">
                  <div class="ps-3">
                      <h6>{{cats.getTotalDepenseBoisson}}</h6>
                      
                    </div>
                    <div>
                      <i class="bi bi-currency-francs fs-3">F</i>
                    </div>
                    
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-3">
              <div class="card info-card revenue-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                  <li><a class="dropdown-item" href="{{path('depense_date_vivre')}}">A une date donnée</a></li>
                    <li><a class="dropdown-item" href="{{path('depense_mois_vivre')}}">Ce mois</a></li>
                    
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Dépense Vivre <span>| Aujourd'hui</span></h5>

                  <div class="d-flex align-items-center">
                  <div class="ps-3">
                    <h6>{{cats.getDepenseVivre}}</h6>
                    </div>
                    <div >
                      <i class="bi bi-currency-francs fs-3">F</i>
                    </div>
                    
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->



            <!-- Left side columns -->


            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-3">
                <div class="card info-card sales-card">

                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Aujourd'hui</a></li>
                    <li><a class="dropdown-item" href="#">Ce mois</a></li>
                    
                    </ul>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Recette <span>| Today</span></h5>

                    <div class="d-flex align-items-center">
                    <div class="ps-3">
                        <h6>{{cats.Recette}}</h6>
                    </div>
                    <div >
                      <i class="bi bi-currency-francs fs-3">F</i>
                    </div>
                    
                    </div>
                </div>

                </div>
            </div><!-- End Sales Card -->



           


          <div class="col-lg-12">
          <div class="row">
            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-4">

              <div class="card info-card customers-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                  <li><a class="dropdown-item" href="{{path('app_recherche')}}">A une date donnée</a></li>
                  <li><a class="dropdown-item" href="{{path('recherche_mois')}}">Ce mois</a></li>
                    
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Vente boisson <span>| Aujourd'hui</span></h5>

                  <div class="d-flex align-items-center">
                  <div class="ps-3">
                      <h6>{{cats.getTotalVenteBoisson}}</h6>
                    </div>
                    <div >
                      <i class="bi bi-currency-francs fs-3">F</i>
                    </div>
                    
                   
                    
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->




            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-4">

            <div class="card info-card customers-card">

            <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                </li>

              <li><a class="dropdown-item" href="{{path('recherche_date_repas')}}">A une date donnée</a></li>
                <li><a class="dropdown-item" href="{{path('recherche_mois_repas')}}">Ce mois</a></li>
                
                </ul>
            </div>

            <div class="card-body">
                <h5 class="card-title">Vente Repas <span>| Aujourd'hui</span></h5>

                <div class="d-flex align-items-center">
                <div class="ps-3">
                    <h6>{{cats.getTotalVenteRepas}}</h6>
                </div>
                    <div>
                      <i class="bi bi-currency-francs fs-3">F</i>
                    </div>
                
                </div>

            </div>
            </div>

            </div><!-- End Customers Card -->



          <!-- Customers Card -->
          <div class="col-xxl-4 col-xl-4">

          <div class="card info-card sales-card">

                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="{{path('recherche_date_lait')}}">A une date donnée</a></li>
                    <li><a class="dropdown-item" href="{{path('recherche_mois_lait')}}">Ce mois</a></li>
                    
                    </ul>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Lait Caillé <span>| Aujourd'hui</span></h5>

                    <div class="d-flex align-items-center">
                    <div class="ps-3">
                        <h6>{{cats.getNbLait}}</h6>
                    </div>
                    <div >
                      <i class="bi bi-currency-francs fs-3">F</i>
                    </div>
                    
                    </div>
                </div>

                </div>
            </div><!-- End Sales Card -->

         </div><!-- End Customers Card -->



         <div class="row">

         <!-- Left side columns -->
         <div class="col-lg-12">
           <div class="row" style="margin-top:25px;">
 
             <!-- Sales Card -->
             <div class="col-xxl-4 col-md-3 " >
               <div class="card info-card sales-card " >
 
                 <div class="filter">
                   <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                   <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                     <li class="dropdown-header text-start">
                       <h6>Filter</h6>
                     </li>
 
                     <li><a class="dropdown-item" href="">A une date donnée</a></li>
                     <li><a class="dropdown-item" href="">Ce mois</a></li>
                     
                   </ul>
                 </div>
 
                 <div class="card-body">
                   <h5 class="card-title">Solde Boisson <span>| Aujourd'hui</span></h5>
 
                   <div class="d-flex align-items-center">
                   <div class="ps-3">
                       <h6>{{cats.SoldeBoisson}}</h6>
                       
                     </div>
                     <div>
                       <i class="bi bi-currency-francs fs-3">F</i>
                     </div>
                     
                   </div>
                 </div>
 
               </div>
             </div><!-- End Sales Card -->
 
             <!-- Revenue Card -->
             <div class="col-xxl-4 col-md-3">
               <div class="card info-card revenue-card">
 
                 <div class="filter">
                   <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                   <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                     <li class="dropdown-header text-start">
                       <h6>Filter</h6>
                     </li>
 
                   <li><a class="dropdown-item" href="">A une date donnée</a></li>
                     <li><a class="dropdown-item" href="">Ce mois</a></li>
                     
                   </ul>
                 </div>
 
                 <div class="card-body">
                   <h5 class="card-title">Solde Repas <span>| Aujourd'hui</span></h5>
 
                   <div class="d-flex align-items-center">
                   <div class="ps-3">
                     <h6>{{cats.SoldeRepas}}</h6>
                     </div>
                     <div >
                       <i class="bi bi-currency-francs fs-3">F</i>
                     </div>
                     
                   </div>
                 </div>
 
               </div>
             </div><!-- End Revenue Card -->
 
 
 
             <!-- Left side columns -->
 
 
             <!-- Sales Card -->
             <div class="col-xxl-4 col-md-3">
                 <div class="card info-card sales-card">
 
                 <div class="filter">
                     <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                     <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                     <li class="dropdown-header text-start">
                         <h6>Filter</h6>
                     </li>
 
                     <li><a class="dropdown-item" href="#">Aujourd'hui</a></li>
                     <li><a class="dropdown-item" href="#">Ce mois</a></li>
                     
                     </ul>
                 </div>
 
                 <div class="card-body">
                     <h5 class="card-title">Trésorerie Boisson <span>| Today</span></h5>
 
                     <div class="d-flex align-items-center">
                     <div class="ps-3">
                         <h6></h6>
                     </div>
                     <div >
                       <i class="bi bi-currency-francs fs-3">F</i>
                     </div>
                     
                     </div>
                 </div>
 
                 </div>
             </div><!-- End Sales Card -->



         








            <!-- Reports -->
            <div class="col-12">
              <div class="card">

                <div class="filter">
                  
                  
                   
                  </ul>
                </div>

                <div class="card-body">
                
                  <h5 class="card-title">Evolution de la vente des boissons</h5>

                  <div id="reportsChart">

                  {{ render_chart(chart, {'class': 'my-chart'}) }}

                  </div>

                  

                </div>

                <div class="card-body">
                
              <h5 class="card-title">Evolution de la vente des repas</h5>

              {{ render_chart(charts, {'class': 'my-chart'}) }}

            </div>

              </div>
            </div><!-- End Reports -->

          
                     
            </div><!-- End Top Selling -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

        

        </div><!-- End Right side columns -->

      </div>




      </div>
    </div>
      
    </section>







  










{% endblock %}

