
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

<ul class="sidebar-nav" id="sidebar-nav">

  <li class="nav-item">
    <a class="nav-link " href="{{path('app_dashboard')}}">
      <i class="bi bi-grid"></i>
      <span>Dashboard</span>
    </a>
  </li><!-- End Dashboard Nav -->

  <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-menu-button-wide"></i><span>Boisson</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

    {% if is_granted('ROLE_ADMIN')%}
    <li>
      <a href="{{path('app_boisson_index')}}">
        <i class="bi bi-circle"></i><span>Boisson</span>
      </a>
    </li>
    {% endif %}


    {% if is_granted('ROLE_MAGASIN')%}
    <li>
      <a href="{{path('app_depense_appro_index')}}">
        <i class="bi bi-circle"></i><span>Depense Approvisionnement</span>
      </a>
    </li>
    {% elseif is_granted('ROLE_ADMIN') %}
    <li>
      <a href="{{path('app_depense_appro_index')}}">
        <i class="bi bi-circle"></i><span>Depense Approvisionnement</span>
      </a>
    </li>
     {% endif %}


     {% if is_granted('ROLE_RESTO') or is_granted('ROLE_ADMIN') %}
    <li>
      <a href="{{path('app_vente_drink_index')}}">
        <i class="bi bi-circle"></i><span>Vente Boisson</span>
      </a>
    </li>
  {% endif %}


  {% if is_granted('ROLE_ADMIN')%}
    <li>
      <a href="{{path('app_quantite_ajoute_index')}}">
        <i class="bi bi-circle"></i><span>Quantite Ajoutee</span>
      </a>
    </li>
    {% endif %}


    {% if is_granted('ROLE_MAGASIN')%}
    <li>
      <a href="{{path('app_magasin_index')}}">
        <i class="bi bi-circle"></i><span>Magasin</span>
      </a>
    </li>
    {% elseif is_granted('ROLE_ADMIN') %}
    <li>
      <a href="{{path('app_magasin_index')}}">
        <i class="bi bi-circle"></i><span>Magasin</span>
      </a>
    </li>
    {% endif %}
    </ul>
  </li><!-- End Components Nav -->



  {% if is_granted('ROLE_RESTO') or is_granted('ROLE_ADMIN') %}
  <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-journal-text"></i><span>Vivre</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
    <li>
      <a href="{{path('app_congelateur_index')}}">
        <i class="bi bi-circle"></i><span>Congelateur</span>
      </a>
    </li>
    
    <li>
      <a href="{{path('app_vente_repas_index')}}">
        <i class="bi bi-circle"></i><span>Vente Repas</span>
      </a>
    </li>
    {% endif %}

    {% if is_granted('ROLE_ADMIN')%}
    <li>
      <a href="{{path('app_vivre_index')}}">
        <i class="bi bi-circle"></i><span>Vivre</span>
      </a>
    </li>
    
    <li>
      <a href="{{path('app_repas_index')}}">
        <i class="bi bi-circle"></i><span>Repas</span>
      </a>
    </li>

    <li>
      <a href="{{path('app_proteine_index')}}">
        <i class="bi bi-circle"></i><span>Protéines</span>
      </a>
    </li>

    <li>
      <a href="">
        <i class="bi bi-circle"></i><span>Historiques</span>
      </a>
    </li>

  {% endif %}


  {% if is_granted('ROLE_RESTO') or is_granted('ROLE_ADMIN') %}
    <li>
      <a href="{{path('app_depense_vivre_index')}}">
        <i class="bi bi-circle"></i><span>Dépense Vivre</span>
      </a>
    </li>
{% endif %}

  </ul>
  </li><!-- End Forms Nav -->

  
  
  

  

  

</ul>

</aside><!-- End Sidebar-->